.turbo
node_modules
npm-debug.log
.next
.git
.gitignore
README.md
*.md
.env*.local
.DS_Store
*.log
dist
build
coverage
.turbo
out
Dockerfile.dev
Dockerfile
docker-compose-dev.yml
docker-compose.yml
.dockerignore
.env
*.tar

# misc
public/uploads/*

next-env.d.ts